<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Sablon</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse">
        @*üst menü*@
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Logo</a>
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbarSec">
                    <span class="sr-only">Menü</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbarSec">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#">Anasayfa</a></li>
                    <li><a href="#">Hakkımızda</a></li>
                    <li><a href="#">Makaleler</a></li>
                    <li><a href="#">Videolar</a></li>
                    <li><a href="#">İletişim</a></li>
                </ul>
                <form method="get" class="navbar-form navbar-right">
                    <div class="input-group">
                        <input type="text" name="name" class="form-control" placeholder="Search..." />
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign up </a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Sign in </a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="panel-body">
        @RenderBody()
    </div>
    <div class="panel-footer"></div>
</body>
</html>
